{% extends "base.html" %}
{% block title %} Группы {% endblock %}

{% block content %}
{% load cache %}
<main role="main" class="container">
    <div class="table">

        <h1>Сообщества сайта</h1>

        <!-- Вывод ленты записей -->
        <!-- Здесь добавить кэш 20с -->
        {% if page %}
            {% for group in page %}
            <!-- Вот он, новый include! -->
            {% include "group_item.html" with group=group %}
            {% endfor %}
        {% else %}
        <h5>Пока не создано ни одного сообщества. <a href="{% url 'create_group' %}">Станьте первым!</a></h5>
        {% endif %}

        <!-- Вывод паджинатора -->
        {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </div>
</main>
{% endblock %}